node_modules/
dist/
.env
*.log
.DS_Store
*.zip
*.tsbuildinfo
xsnbb-web-server-db/
server/uploads/
server/xsnbb-api
server/xsnbb-api.pid
server/xsnbb-api.log
server/.prod.pid
server/xsnbb.log
apps/mobile/android/.gradle/
apps/mobile/android/build/
apps/mobile/android/app/build/
apps/mobile/.bundle/
apps/harmony/.hvigor/
apps/harmony/entry/build/
